---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Share from 	"../components/Share.astro";
import "@fontsource/alegreya-sans-sc"

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		url?: String
	};
}

const {
	content: { title, description, pubDate, updatedDate, url },
} = Astro.props as Props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 2.4em;
				margin: 0.25em 0 0;
				font-family: "Alegreya Sans SC", sans-serif; 
			}
			hr {
  				border-top: 1px solid #DDD;
				margin: 1rem 0;
			}

			main {
				margin-bottom: 5rem;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
			<Share url={url} title={title}/>
		</main>
	</body>
</html>
